html {
  font-size: 1em;
  font-family: 'Lato', sans-serif;

}

div.container {
  width: 80%;
  margin-left: 10%;
  margin-top: 5%;
}

h2 {
  padding-bottom: .5em;
  border-bottom: solid gray 1px;
  font-size: 2.5em;
  color: cornflowerblue;
}

h3 {
  padding-bottom: .5em;
  font-size: 1.75em;
  color: cornflowerblue;
}

p.show {
  /*display: none;*/
}

p.default {
  display:none;
}
