html {
  font-size: 1em;
  font-family: 'Lato', sans-serif;
  color: #C0C0C0;

}

div.container {
  width: 80%;
  margin-left: 10%;
  margin-top: 5%;
}

h2 {
  padding-bottom: .5em;
  border-bottom: solid #DCDCDC 1px;
  font-size: 2.5em;
  font-weight: 300;
  color: #47a3da;

}

h3.heading-small {
  display: none;
  padding-bottom: .5em;
  font-size: 1.75em;
  color: #47a3da;
}

h3.show-h3 {
  
}

p.default {
  font-weight: 300;
  display:none;
}

p.show-p{
  font-weight: 300;
  color: #DCDCDC;
}

i {
  color: #DCDCDC;
}
